nav{
  font-family: Arial;
  color: black;
  font-weight: 100;
  letter-spacing: 2px;
}

{
  background: #f5fffa;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png')
}

p{
font-family: Arial;
  color: white;
  font-size: 155px;
  text-align: center;
}

h3{
  font-family: Helvetica;
  color: white;
  font-size: 100px;
  text-align: center;
}

